.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.red{
    background-color: rgb(236, 101, 101);
}

.blue{
    background-color: rgb(182, 182, 240);
}

.green{
    background-color: rgb(114, 196, 114);
}

.orange{
    background-color: rgb(236, 200, 133);
}