<mat-list role="list">
    <div class="profile">
        <img src="https://i.pinimg.com/originals/3a/74/f8/3a74f84f5f77f261098378ff394f2d72.jpg" alt="no-image">
        <h4>Admin</h4>
        <h5>admin123@gmail.com</h5>
    </div>
    <mat-divider></mat-divider>
    <h4>Pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employee</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>

</mat-list>
  